/* App.css */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}
.desc-cell {
  word-break: break-all;
  max-width: 240px;      /* 跟你的表格欄寬一致 */
  white-space: pre-line; /* 保留換行符號 */
}